<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="images/png" href="../static/images/premio-de-futbol.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/estadisticas.css">
    <title>Rincón Futbolístico</title>
</head>
<body>
    <header class="header">
        <section class="logoname">
            <!-- logo -->
            <a href="index.html" id="logo"><img class="images" src="../static/images/log.png" width="120px" height="120px" alt="logo"></a>
            <h1>FUT-GOL</h1>
        </section>
        <nav class="nav">
        <ul>
            <li><a href="{{ url_for('jugadores') }}">Jugadores</a></li>
            <li><a href="{{ url_for('equipos') }}">Equipos</a></li>
            <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
            <li><a href="{{ url_for('iniciarsesion') }}">Iniciar sesión</a></li>
        </ul>
    </nav>
    </header>
    <h2>TODOS LOS JUGADORES DE COPA AMÉRICA</h2>

    <div class="tabla" >

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Equipo Actual</th>
                    <th>Partidos Jugados</th>
                    <th>Goles</th>
                    <th>Asistencias</th>
                </tr>
            </thead>
            <tbody>
                {% for jugador in estadisticas %}
                <tr>
                    <td class="dato">{{ jugador[0] }}</td>
                    <td class="dato">{{ jugador[1] }}</td>
                    <td class="dato">{{ jugador[2] }}</td>
                    <td class="dato">{{ jugador[3] }}</td>
                    <td class="dato">{{ jugador[4] }}</td>
                    <td class="dato">{{ jugador[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>