<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="images/png" href="../static/images/premio-de-futbol.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rincón Futbolístico</title>
</head>
<body>
    <header class="header">
        <section class="logoname">
            <!-- logo -->
            <a href="#" id="logo"><img class="images" src="../static/images/log.png" width="120px" height="120px" alt="logo"></a>
            <h1 id="futgol">FUT-GOL</h1>
        </section>
        <nav class="nav">
        <ul>
            <li><a href="{{ url_for('jugadores') }}">Jugadores</a></li>
            <li><a href="{{ url_for('equipos') }}">Equipos</a></li>
            <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
            <li><a href="{{ url_for('iniciarsesion') }}">Iniciar sesión</a></li>
        </ul>
    </nav>
    </header>
    <h2>COPA AMÉRICA</h2>
    <div class="intro" >
    <p>
        La <a href="https://copaamerica.com/es" id="copaamerica" >Copa América 2024</a> fue la cuadragésima octava edición de este torneo, la principal competencia futbolística entre las selecciones nacionales de América del Sur y la más antigua del mundo.
    </p>
    <p>Fue coorganizada por la Confederación Sudamericana de Fútbol (Conmebol) y la Confederación de Norteamérica, Centroamérica y el Caribe de Fútbol (Concacaf). 
        
    </p>
    <p>
        Por segunda vez, el torneo se realizó en Estados Unidos, después de la edición centenario de 2016. El campeón fue nuevamente Argentina, que venció en la final a Colombia, por 1 a 0 en tiempo suplementario, logrando su decimosexto título y convirtiéndose en el más ganador en la historia del certamen. Además, el título habilita a Argentina para disputar la Copa de Campeones Conmebol-UEFA de 2025 ante España, ganadora de la Eurocopa 2024.
    </p>
    </div>

    <div class="copa">
        <img src="../static/images/copa.jpg" id="copa" alt="">
    </div>





    <footer>
        <p>FOOTER Todos los derechos reservados</p>
    </footer>

</body>
</html>